<h1><%= @city.name %></h1>
<p><strong>Population:</strong> <%= @city.population %></p>
<p><strong>Country:</strong> <%= @city.country.name %></p>

<%= link_to 'Back', cities_path %> <!-- Link to go back to the index page -->
